NEXT_PUBLIC_BASE_URL=https://your-vercel-domain.vercel.app
BASE_URL=https://your-vercel-domain.vercel.app
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
MTN_BASE_URL=https://sandbox.momodeveloper.mtn.com
MTN_COLLECTION_USER_ID=
MTN_COLLECTION_API_KEY=
MTN_SUBSCRIPTION_KEY=
MTN_TARGET_ENVIRONMENT=sandbox
AIRTEL_BASE_URL=https://openapiuat.airtel.africa
AIRTEL_CLIENT_ID=
AIRTEL_CLIENT_SECRET=
AIRTEL_COUNTRY=UG
