NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_BASE_URL=https://your-vercel-domain.vercel.app
BASE_URL=https://your-vercel-domain.vercel.app
PESAPAL_KEY=
PESAPAL_SECRET=
PESAPAL_ENV=live
PESAPAL_IPN_ID=
MTN_BASE_URL=https://sandbox.momodeveloper.mtn.com
MTN_COLLECTION_USER_ID=
MTN_COLLECTION_API_KEY=
MTN_SUBSCRIPTION_KEY=
MTN_TARGET_ENVIRONMENT=sandbox
AIRTEL_BASE_URL=https://openapiuat.airtel.africa
AIRTEL_CLIENT_ID=
AIRTEL_CLIENT_SECRET=
AIRTEL_COUNTRY=UG
